@import '../../node_modules/highlight.js/styles/default.css';

*, *:before, *:after {
  box-sizing: border-box;
}

h2,
h3,
body {
  font-weight: 100;
}

strong {
  font-weight: 800;
}

html {
  font-family: 'Input Sans', 'Courier New';
  overflow-x: hidden;
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
}

iframe {
  width: 100%;
  height: 100vh;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid hsl(0,0%,0%);
  width: 100%;
  font: inherit;
}

h1,
h2 {
  margin: 0;
  line-height: 2em;
}

article h1,
article h2 {
  text-align: center;
}

h1 {
  margin: .5rem 0 .7rem 0;
  font-size: 2rem;
  font-weight: 400px;
}

video {
  min-width: 90vw;
  width: 100%;
}

ul:first-child {
  margin-top: 0;
}

pre {
  color: #111;
  background-color: hsla(0, 0%, 0%, 0.05);
  border: solid 1px hsla(0, 0%, 0%, .1);
  padding: 1rem;
  min-width: 60vw;
  max-width: calc(100vw - 4rem);
  margin-top: 0;
  line-height: 1.5rem;
  overflow-x: auto;
}

article {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-right: 15px;
  border: 10px solid hsl(40, 40%, 80%);
}

.note {
  font-size: .5rem;
  text-align: right;
  font-style: italic;
}

.deck {
  transition: transform .2s ease-in-out;
}

.deck__container {
  width: 100%;
  height: 100vh;
  transition: transform .2s ease-in-out;
}

.slide[data-title="Elm Reactor"] .slide__content,
.slide[data-title="Reactive Suche"] .slide__content,
.slide[data-title="Normale Javascript Suche"] .slide__content {
  width: 100%;
}

.slide[data-title="Reactive Suche"],
.slide[data-title="Normale Javascript Suche"] {
  display: inline-block;
}

.slide__content {
  width: auto;
}

.slide__notes {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: hsla(40, 20%, 90%, .98);
}

.searchComparison__cols {
  float: left;
  width: 50%;
}

